.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 29rem;
  background: transparent;
  height: 50px;
}
.logo {
  display: flex;
  font-size: 1.5rem;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  font-family: Asap;
  font-weight: 200;
}

.control {
  display: flex;
  gap: 3rem;
}
a {
  text-decoration: none;
  color: #232323;
}
a:hover {
  color: #ffb006;
  transition: 0.2s ease;
}
