.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #999;
  height: 50px;
  padding: 1rem;
}

.footer a {
  color: #999;
}
.footer a:hover {
  transition: 0.2s ease;
  color: #ffb006;
}
