.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #999;
  height: 40px;
}

.footer a {
  color: #999;
}
.footer a:hover {
  transition: 0.2s ease;
  color: #ffb006;
}
